<!DOCTYPE html >
<html lang="en" ng-app="todo">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
    <script src="https://use.fontawesome.com/5898393b79.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <title>TODO</title>
    <style>
        .card{
            margin:0 auto;
        }
        .add-btn{
            position: fixed;
            bottom: 10%;
            left: 2%;
            border-radius: 50%;
            z-index: 100
        }
    </style>
</head>
<body>
    <div class="continer-fluid" ng-controller="todoController">
        {{{ body }}}
    </div>
    
</body>
<script>
    'use strict'
    var app = angular.module('todo', [], ( $interpolateProvider ) => {
        $interpolateProvider.startSymbol('[[');
        $interpolateProvider.endSymbol(']]'); 
    });

    app.controller('todoController', ['$scope', '$http', ($scope, $http) => {
        
        $scope.addBtn = false;
        $scope.showhide = () => {
            $scope.addBtn = !$scope.addBtn;
        }

        $scope.pending = (date) => {

            let today = new Date();
            date = new Date(date);

            if(date >= today) {
                return true;
            }

            return false;

        }
        $scope.property = "priority";
        $scope.reverse = true;
        $scope.order = (property) => {

            $scope.reverse = ($scope.property == property) ? !$scope.reverse : false;
            $scope.property = property;

            console.log()

        }

        $scope.getTasks = () => {
            $http({
                method: 'GET',
                url: 'http://michaelsanchez.co:3000/api/tasks'
                }).then((response) => {

                    $scope.todos = response.data.tasks;
                    console.log($scope.todos)

                }, (response) => {
                    console.log(response)
            });
        }

        $scope.getTasks();

        $scope.addTask = () => {
            console.log($scope.nTask.priority)
            $http({
                method: 'POST',
                url: 'http://michaelsanchez.co:3000/api/tasks/create',
                data: {
                    name: $scope.nTask.name, 
                    dueDate: $scope.nTask.dueDate, 
                    priority: $scope.nTask.priority
                }
            }).then( (response) => {
               $scope.getTasks();
            }, (response) => {

            })

        }

        $scope.remove = ( id ) => {
            $http({
                method: 'DELETE',
                url: 'http://michaelsanchez.co:3000/api/tasks/destroy/'+id
                }).then((response) => {
                    $scope.getTasks();
                }, (response) => {
                    console.log(response)
            });
        }

    }])

</script>
</html>