<div >
    <button type="button" class="btn btn-primary add-btn" data-toggle="modal" data-target="#add">
        <i class="fa fa-plus"></i>
    </button>

    <div class="modal fade" id="add" data-backdrop="false" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add New Task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">Name</label>
                    <input type="text" placeholder="name" name="name" ng-model="nTask.name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Due Date</label>
                    <input type="date" placeholder="dueDate" name="dueDate" ng-model="nTask.dueDate" class="form-control">
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Priority</label>
                    <select name="priority" ng-model="nTask.priority" class="form-control">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>

                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" ng-click="addTask()" class="btn btn-primary">Save changes</button>
            </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12 text-center">
            <h4>Order Tasks</h4>
            <div class="btn-group" role="group" aria-label="">
                <button type="button" class="btn btn-secondary" ng-click="order('name')">Name <i class="fa fa-angle-down" ng-show="property=='name'&&!reverse"></i><i class="fa fa-angle-up" ng-show="property=='name'&&reverse"></i></button>
                <button type="button" class="btn btn-secondary" ng-click="order('dueDate')">Due Date <i class="fa fa-angle-down" ng-show="property=='dueDate'&&!reverse"></i><i class="fa fa-angle-up" ng-show="property=='dueDate'&&reverse"></i></button>
                <button type="button" class="btn btn-secondary" ng-click="order('priority')">Priority <i class="fa fa-angle-down" ng-show="property=='priority'&&!reverse"></i><i class="fa fa-angle-up" ng-show="property=='priority'&&reverse"></i></button>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-sm-6 text-center">
        <h3>Pending</h3>
        <div ng-show="todos.length" class="card text-white bg-warning mb-3" style="width: 20rem;" ng-repeat="todo in todos | orderBy:property:reverse"  ng-if="pending(todo.dueDate)">
            <div class="card-header">[[todo.name]]</div>
            <div class="card-body">
                <span class="card-subtitle mb-2">Due Date</span>
                <h6>[[todo.dueDate | date:'MMMM dd, yyyy']]</h6>
                <span class="card-subtitle mb-2">Priority </span>
                <h6>[[todo.priority]]</h6>
                <button ng-click="remove(todo._id)" type="button" class="btn btn-outline-light">Delete</button>
            </div>
        </div>

    </div>

    <div class="col-sm-6 text-center">
        <h3>Overdue</h3>
        <div ng-show="todos.length" class=" card text-white bg-danger mb-3" style="width: 20rem;" ng-repeat="todo in todos | orderBy:property:reverse" ng-if="!pending(todo.dueDate)">
            <div class="card-header">[[todo.name]]</div>
            <div class="card-body">
                <span class="card-subtitle mb-2">Due Date</span>
                <h6>[[todo.dueDate | date:'MMMM dd, yyyy']]</h6>
                <span class="card-subtitle mb-2">Priority </span>
                <h6>[[todo.priority]]</h6>
                <button ng-click="remove(todo._id)" type="button" class="btn btn-outline-light">Delete</button>
            </div>
        </div>

    </div>
    </div>
    
    

</div>

